# North Dakota

In [44]:
import datetime
import time
import wget
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import zipfile

In [29]:
ThisYearFile = str(datetime.datetime.now().year - 1)

In [30]:
Text = ThisYearFile +'-' + str(int(ThisYearFile[2:]) + 1) + ' Fall Enrollment'

In [31]:
Text

'2017-18 Fall Enrollment'

In [32]:
# Set the preferences for the firefox web browser
fp = webdriver.FirefoxProfile()
fp.set_preference('browser.download.folderList', 2)
fp.set_preference('browser.download.manager.showWhenStarting', False)
fp.set_preference('browser.download.dir', '/tmp')
fp.set_preference("http.response.timeout", 300)
fp.set_preference("dom.max_script_run_time", 300)
fp.set_preference('webdriver.load.strategy', 'unstable')
fp.set_preference('browser.helperApps.neverAsk.saveToDisk', 'text/plain, application/vnd.ms-excel, text/csv, text/comma-separated-values, application/octet-stream, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')
fp.update_preferences()

In [33]:
# MDE web app for hs enrollment data
searchURL = 'https://www.nd.gov/dpi/SchoolStaff/SchoolFinance/Resources/'
time.sleep(3)

# Launch web browser and navigate to the searchURL
driver = webdriver.Firefox(fp)
driver.get(searchURL)
time.sleep(3)

In [18]:
searchConditional = '//a[@href and contains(@title,"Enrollment")]'
EnrollmentLinks = driver.find_elements_by_xpath(searchConditional)
TReport_href_Enrollment = EnrollmentLinks

In [19]:
 # All Enrollment by Ethnicity/Gender datasets
downloadsTitle = []
downloadURL = []
for ii in TReport_href_Enrollment:
    if Text in ii.get_attribute('title'):
        wget.download(ii.get_attribute('href'), print(ii.get_attribute('title')))
        downloadsTitle.append(ii.get_attribute('title'))
        downloadURL.append(ii.get_attribute('href'))

In [20]:
TReport_href_Enrollment

[]

In [26]:
links = driver.find_elements_by_link_text(Text)
for link in links:
    wget.download(link.get_attribute("href"))

100% [............................................................................] 109928 / 109928

In [17]:
import os
newpath_main = r'C:\users\karlk\GitHubRepos\SCSU-Reciprocity-HS-Enrollment'
if not os.path.exists(newpath_main):
    os.makedirs(newpath_main)   
os.chdir(newpath_main)

In [8]:
os.getcwd()

'C:\\Users\\karlk\\GitHubRepos\\SCSU-Reciprocity-HS-Enrollment'

In [13]:
File = ThisYearFile + str(int(ThisYearFile[2:]) + 1) + 'FallEnrollment.xlsx'

In [14]:
File

'201718FallEnrollment.xlsx'

In [74]:
ND = pd.read_excel(File, sheetname = 'School', skiprows = 2)

In [75]:
ND.head()

,SchNo,SchoolName,PKReg,PKSpEd,K,Gr1,Gr2,Gr3,Gr4,Gr5,Gr6,Gr7,Gr8,Gr9,Gr10,Gr11,Gr12,K-12 Total
0,01-013-3599,Hettinger Public School,31,8,27,25,21,22,16,28,22,20,20,14,17,17,26,275
1,02-002-4601,Jefferson Elem School,0,11,67,78,80,64,0,0,0,0,0,0,0,0,0,289
2,02-002-8954,Valley City Jr-Sr High School,0,0,0,0,0,0,0,0,0,110,89,88,81,78,92,538
3,02-002-9241,Washington Elem School,0,0,0,0,0,0,70,78,77,0,0,0,0,0,0,225
4,02-007-9463,Barnes County North Public School,12,0,12,15,24,17,24,19,20,23,18,28,19,24,13,256

In [76]:
ND.columns

Index(['SchNo', 'SchoolName', 'PKReg', 'PKSpEd', 'K', 'Gr1', 'Gr2', 'Gr3',
       'Gr4', 'Gr5', 'Gr6', 'Gr7', 'Gr8', 'Gr9', 'Gr10', 'Gr11', 'Gr12',
       'K-12 Total'],
      dtype='object')

In [77]:
NDReduced = ND[['SchNo', 'SchoolName','Gr11', 'Gr12']]

In [78]:
NDReduced.head()

         SchNo                         SchoolName  Gr11  Gr12
0  01-013-3599            Hettinger Public School    17    26
1  02-002-4601              Jefferson Elem School     0     0
2  02-002-8954      Valley City Jr-Sr High School    78    92
3  02-002-9241             Washington Elem School     0     0
4  02-007-9463  Barnes County North Public School    24    13

In [54]:
# MDE web app for hs enrollment data
searchURL = 'https://www.nd.gov/dpi/data/directory/schoollistings/'

# Launch web browser and navigate to the searchURL
driver.get(searchURL)
time.sleep(3)

In [60]:
ids_a =  driver.find_elements_by_xpath("//*[text()='LEAs and Schools (Excel)']")
for ii in ids_a:
    link = ii.get_attribute('href')
time.sleep(4)

In [62]:
wget.download(link)

100% [............................................................................] 243712 / 243712

'sys_plnt.xls'

In [64]:
LookUp = pd.read_excel('sys_plnt.xls')

In [65]:
LookUp.head()

,StateIssuedID,LEA Name,School Name,Phone,Mailing Address,City,St,ZIP,ZIP4,Site Address,Site City,Site St,Site ZIP,LEA Type,School Type
0,01-013,Hettinger 13,NaN,701-567-5315,PO Box 1188,Hettinger,ND,58639,1188,209 8th St S,Hettinger,ND,58639,High School LEA,NaN
1,01-013-3599,NaN,Hettinger Public School,701-567-5315,PO Box 1188,Hettinger,ND,58639,1188,209 S 8th St,Hettinger,ND,58639,NaN,Elementary/Middle/Junior High/Secondary Combin...
2,02-002,Valley City 2,NaN,701-845-0483 Ext 102,460 Central Ave N,Valley City,ND,58072,2997,460 Central Ave N,Valley City,ND,58072,High School LEA,NaN
3,02-002-4601,NaN,Jefferson Elem School,701-845-0622,460 Central Ave N,Valley City,ND,58072,2997,1150 Central Ave N,Valley City,ND,58072,NaN,Elementary (two or more teachers)
4,02-002-8954,NaN,Valley City Jr-Sr High School,701-845-0483 Ext 2,460 Central Ave N,Valley City,ND,58072,2997,493 Central Ave N,Valley City,ND,58072,NaN,Elementary/Middle/Junior High/Secondary Combin...

In [68]:
LookUp.columns

Index(['StateIssuedID', 'LEA Name', 'School Name', 'Phone', 'Mailing Address',
       'City', 'St', 'ZIP', 'ZIP4', 'Site Address', 'Site City', 'Site St',
       'Site ZIP', 'LEA Type', 'School Type'],
      dtype='object')

In [69]:
LookUp = LookUp[['StateIssuedID', 'LEA Name', 'School Name', 'Site Address', 'Site City', 'Site St',
       'Site ZIP']]

In [80]:
NDClean = pd.merge(LookUp, 
         NDReduced, 
         how = 'inner', 
         left_on = 'StateIssuedID', right_on = 'SchNo')

In [81]:
NDClean.to_csv('ND.csv')

# South Dakota

In [6]:
# HS enrollment file Name
PreYearText = "http://doe.sd.gov/ofm/documents/Pschgen"
Year = str(int(datetime.datetime.now().year - 1))[2:]
extention = ".xlsx"

In [3]:
File = PreYearText + Year + extention
File

'http://doe.sd.gov/ofm/documents/Pschgen17.xlsx'

In [9]:
wget.download(File)

100% [............................................................................] 123361 / 123361

'Pschgen17.xlsx'

In [10]:
FileName = "Pschgen" + Year + extention

In [13]:
SD = pd.read_excel(FileName, skiprows = 2)

In [14]:
SD.head()

,District No.,District Name,School No.,School Name,PK,KG,01,02,03,04,05,06,07,08,09,10,11,12,TOTAL KG-12,TOTAL PK-12
0,1001.0,Plankinton 01-1,1.0,Plankinton High School,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,14.0,27.0,12.0,75.0,75.0
1,1001.0,Plankinton 01-1,2.0,Plankinton Elementary,20.0,25.0,17.0,21.0,19.0,22.0,19.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,148.0,168.0
2,1001.0,Plankinton 01-1,3.0,Plankinton Junior High,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,23.0,0.0,0.0,0.0,0.0,37.0,37.0
3,1001.0,Plankinton 01-1,4.0,Aurora Plains Academy Middle School,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,6.0,11.0,0.0,0.0,0.0,0.0,25.0,25.0
4,1001.0,Plankinton 01-1,5.0,Aurora Plains Academy High School,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,16.0,10.0,5.0,45.0,45.0

In [8]:
LastYear = str(int(datetime.datetime.now().year - 2))[2:]
File = PreYearText + LastYear + extention
File

'http://doe.sd.gov/ofm/documents/Pschgen16.xlsx'

In [9]:
wget.download(File)

100% [............................................................................] 151587 / 151587

'Pschgen16.xlsx'

In [11]:
FileName = "Pschgen" + LastYear + extention
LsYrSD = pd.read_excel(FileName, skiprows = 2)

In [12]:
LsYrSD.head()

,District No.,District Name,School No.,School Name,Gender,PK,KG,01,02,03,...,05,06,07,08,09,10,11,12,TOTAL KG-12,TOTAL PK-12
0,1001.0,Plankinton 01-1,1.0,Plankinton High School,Female,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,9.0,7.0,11.0,34.0,34.0
1,1001.0,Plankinton 01-1,1.0,Plankinton High School,Male,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,19.0,6.0,11.0,46.0,46.0
2,1001.0,Plankinton 01-1,2.0,Plankinton Elementary,Female,14.0,4.0,10.0,7.0,11.0,...,15.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,66.0,80.0
3,1001.0,Plankinton 01-1,2.0,Plankinton Elementary,Male,9.0,10.0,13.0,16.0,13.0,...,10.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,82.0,91.0
4,1001.0,Plankinton 01-1,3.0,Plankinton Junior High,Female,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,12.0,12.0,0.0,0.0,0.0,0.0,24.0,24.0

# Wisconsin

In [18]:
Year = str(datetime.datetime.now().year - 1)  + '-' + str(datetime.datetime.now().year)[2:]
PreString = 'https://dpi.wi.gov/sites/default/files/wise/downloads/enrollment_certified_'
PostString = '.zip'
File = PreString + Year + PostString
File

'https://dpi.wi.gov/sites/default/files/wise/downloads/enrollment_certified_2017-18.zip'

In [19]:
wget.download(File)

100% [............................................................................] 749325 / 749325

'enrollment_certified_2017-18 (1).zip'

In [20]:
LastYear = str(datetime.datetime.now().year - 2)  + '-' + str(datetime.datetime.now().year -1)[2:]
File = PreString + LastYear + PostString
wget.download(File)

100% [............................................................................] 749421 / 749421

'enrollment_certified_2016-17 (1).zip'

In [43]:
FilePath = 'C://Users//karlk//GitHubRepos//SCSU-Reciprocity-HS-Enrollment//enrollment_certified_' 
FullPath =  FilePath + LastYear  + PostString
FullPath

'C://Users//karlk//GitHubRepos//SCSU-Reciprocity-HS-Enrollment//enrollment_certified_2016-17.zip'

In [47]:
zf = zipfile.ZipFile(FullPath) # having First.csv zipped file.
WILsYr = pd.read_csv(zf.open('enrollment_certified_' + LastYear + '.csv'))

In [52]:
WILsYr.columns

Index(['SCHOOL_YEAR', 'AGENCY_TYPE', 'CESA', 'COUNTY', 'DISTRICT_CODE',
       'SCHOOL_CODE', 'GRADE_GROUP', 'CHARTER_IND', 'DISTRICT_NAME',
       'SCHOOL_NAME', 'GROUP_BY', 'GROUP_BY_VALUE', 'STUDENT_COUNT',
       'PERCENT_OF_GROUP'],
      dtype='object')

In [53]:
WILsYr.GROUP_BY_VALUE.drop_duplicates()

0                            All Students
1                                     SwD
2                                    SwoD
3                                 Unknown
4                             Econ Disadv
5                         Not Econ Disadv
6                                 ELL/LEP
7                                Eng Prof
9                                  Female
10                                   Male
11                                      1
12                                     10
13                                     11
14                                     12
15                                      2
16                                      3
17                                      4
18                                      5
19                                      6
20                                      7
21                                      8
22                                      9
23                                     K3
24                                     K4
25                                     KG
26                                     PK
28                                Migrant
29                            Not Migrant
30                                 Autism
31                             Deaf-Blind
32        Emotional Behavioral Disability
33                     Hearing Impairment
34                Intellectual Disability
35     Not IDEA Eligible or No Disability
36                  Orthopedic Impairment
37                Other Health Impairment
38        Significant Developmental Delay
39           Specific Learning Disability
40          Speech or Language Impairment
41                 Traumatic Brain Injury
43                      Visual Impairment
44                            Amer Indian
45                                  Asian
46                                  Black
47                               Hispanic
48                           Pacific Isle
49                            Two or More
50                                  White
224                     [Data Suppressed]
Name: GROUP_BY_VALUE, dtype: object

In [55]:
len(WILsYr[WILsYr['GROUP_BY_VALUE'] == '12'])

961

# Manitoba

In [4]:
Year = str(datetime.datetime.now().year - 1)
File = 'http://www.edu.gov.mb.ca/k12/finance/sch_enrol/enrolment_' + Year + '.xlsx'

In [5]:
wget.download(File)

100% [............................................................................] 516251 / 516251

'enrolment_2017.xlsx'

In [7]:
LsYear = str(datetime.datetime.now().year - 2)
File = 'http://www.edu.gov.mb.ca/k12/finance/sch_enrol/enrolment_' + LsYear + '.xlsx'
wget.download(File)

100% [............................................................................] 516931 / 516931

'enrolment_2016.xlsx'

In [15]:
ReadFile = 'enrolment_' + Year + '.xlsx'

In [89]:
SchoolDistrict = pd.read_excel(ReadFile, sheetname = '7', skiprows = 2).iloc[0][0]
Enrollment = pd.read_excel(ReadFile, sheetname = '7', header = None, skiprows = 6)
Enrollment = Enrollment[(Enrollment[0].notnull()) & (Enrollment[0] != 'TOTAL')]
Enrollment = Enrollment[[0, 1, 15, 16]]
Enrollment['District'] = SchoolDistrict

Enrollment.head()

,0,1,15,16,District
0,Brookdale School,Brookdale,0.0,0.0,BEAUTIFUL PLAINS SCHOOL DIVISION
1,Carberry Collegiate,Carberry,48.0,41.0,BEAUTIFUL PLAINS SCHOOL DIVISION
2,Fairway Colony School,Douglas Â¹,1.0,0.0,BEAUTIFUL PLAINS SCHOOL DIVISION
3,Hazel M. Kellington School,Neepawa,0.0,0.0,BEAUTIFUL PLAINS SCHOOL DIVISION
4,J. M. Young School,Eden,0.0,0.0,BEAUTIFUL PLAINS SCHOOL DIVISION

In [95]:
appended_data = []
for i in range(7, 39):
    SchoolDistrict = pd.read_excel(ReadFile, sheetname = '7', skiprows = 2).iloc[0][0]
    Enrollment = pd.read_excel(ReadFile, sheetname = '7', header = None, skiprows = 6)
    Enrollment = Enrollment[(Enrollment[0].notnull()) & (Enrollment[0] != 'TOTAL')]
    Enrollment = Enrollment[[0, 1, 15, 16]]
    Enrollment['District'] = SchoolDistrict
    appended_data.append(Enrollment)
Enrollment = pd.concat(appended_data, axis=0)

In [100]:
EnrollmentThisYear = Enrollment.rename(columns = {'0':'SCHOOL NAME', 
                             '1':'COMMUNITY', 
                             '15':'11', 
                             '16':'12'})