# South Dakota

In [1]:
import datetime
import time
import wget
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import zipfile
from geopy.geocoders import Nominatim

In [2]:
# HS enrollment file Name
PreYearText = "http://doe.sd.gov/ofm/documents/Pschgen"
Year = str(int(datetime.datetime.now().year - 1))[2:]
extention = ".xlsx"

In [3]:
File = PreYearText + Year + extention
File

'http://doe.sd.gov/ofm/documents/Pschgen17.xlsx'

In [4]:
FileName = wget.download(File)

100% [............................................................................] 123361 / 123361

In [85]:
SD = pd.read_excel(FileName, skiprows = 2)

In [86]:
SD.head()

,District No.,District Name,School No.,School Name,PK,KG,01,02,03,04,05,06,07,08,09,10,11,12,TOTAL KG-12,TOTAL PK-12
0,1001.0,Plankinton 01-1,1.0,Plankinton High School,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,14.0,27.0,12.0,75.0,75.0
1,1001.0,Plankinton 01-1,2.0,Plankinton Elementary,20.0,25.0,17.0,21.0,19.0,22.0,19.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,148.0,168.0
2,1001.0,Plankinton 01-1,3.0,Plankinton Junior High,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,23.0,0.0,0.0,0.0,0.0,37.0,37.0
3,1001.0,Plankinton 01-1,4.0,Aurora Plains Academy Middle School,0.0,0.0,0.0,0.0,0.0,0.0,2.0,6.0,6.0,11.0,0.0,0.0,0.0,0.0,25.0,25.0
4,1001.0,Plankinton 01-1,5.0,Aurora Plains Academy High School,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,16.0,10.0,5.0,45.0,45.0

In [87]:
SD.columns

Index(['District No.', 'District Name', 'School No.', 'School Name', 'PK',
       'KG', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', 'TOTAL KG-12', 'TOTAL PK-12'],
      dtype='object')

In [93]:
SD = SD[['District No.', 'District Name', 'School No.', 'School Name','11', '12']]
SD = SD.rename(columns = {'11': 'Juniors This Year',
                    '12': 'Seniors This Year'})
SD = SD[(SD['Juniors This Year'] > 0) & (SD['Seniors This Year'] > 0)]

In [94]:
SD.head()

,District No.,District Name,School No.,School Name,Juniors This Year,Seniors This Year
0,1001.0,Plankinton 01-1,1.0,Plankinton High School,27.0,12.0
1,1001.0,Plankinton 01-1,5.0,Aurora Plains Academy High School,10.0,5.0
2,1003.0,White Lake 01-3,1.0,White Lake High School,8.0,9.0
3,2002.0,Huron 02-2,1.0,Huron High School,159.0,137.0
4,2002.0,Huron 02-2,12.0,Our Home ASAP,10.0,5.0

In [90]:
LastYear = str(int(datetime.datetime.now().year - 2))[2:]
File = PreYearText + LastYear + extention
File

'http://doe.sd.gov/ofm/documents/Pschgen16.xlsx'

In [9]:
FileName = wget.download(File)

100% [............................................................................] 151587 / 151587

'Pschgen16.xlsx'

In [75]:
LsYrSD = pd.read_excel(FileName, skiprows = 2)
LsYrSD.head()

,District No.,District Name,School No.,School Name,Gender,PK,KG,01,02,03,...,05,06,07,08,09,10,11,12,TOTAL KG-12,TOTAL PK-12
0,1001.0,Plankinton 01-1,1.0,Plankinton High School,Female,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,9.0,7.0,11.0,34.0,34.0
1,1001.0,Plankinton 01-1,1.0,Plankinton High School,Male,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,19.0,6.0,11.0,46.0,46.0
2,1001.0,Plankinton 01-1,2.0,Plankinton Elementary,Female,14.0,4.0,10.0,7.0,11.0,...,15.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,66.0,80.0
3,1001.0,Plankinton 01-1,2.0,Plankinton Elementary,Male,9.0,10.0,13.0,16.0,13.0,...,10.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,82.0,91.0
4,1001.0,Plankinton 01-1,3.0,Plankinton Junior High,Female,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,12.0,12.0,0.0,0.0,0.0,0.0,24.0,24.0

In [76]:
LsYrSD = LsYrSD[['District No.', 'District Name', 'School No.', 'School Name','11', '12']]
LsYrSD = LsYrSD.rename(columns = {'11': 'Juniors Last Year',
                    '12': 'Seniors Last Year'})
LsYrSD = LsYrSD[(LsYrSD['Juniors Last Year'] > 0) & (LsYrSD['Seniors Last Year'] > 0)]

In [78]:
# Previous File was broken out by gender, 
# here we sum over the duplicate values
LsYrSD = LsYrSD.groupby(['District No.', 
                         'District Name', 
                         'School No.', 
                         'School Name'], as_index=False).sum()

In [81]:
LsYrSD.head()

,District No.,District Name,School No.,School Name,Juniors Last Year,Seniors Last Year
0,1001.0,Plankinton 01-1,1.0,Plankinton High School,13.0,22.0
1,1001.0,Plankinton 01-1,5.0,Aurora Plains Academy High School,4.0,2.0
2,1003.0,White Lake 01-3,1.0,White Lake High School,9.0,11.0
3,2002.0,Huron 02-2,1.0,Huron High School,170.0,133.0
4,2002.0,Huron 02-2,12.0,Our Home ASAP,4.0,4.0

In [95]:
SD = pd.merge(SD, LsYrSD, 
              how = 'inner', 
              on = ['District No.', 
                    'District Name', 
                    'School No.', 
                    'School Name'])

In [96]:
SD['JuniorDelta'] = SD['Juniors This Year']/SD['Juniors Last Year']
SD['JuniorDelta'] = SD['Juniors This Year']/SD['Juniors Last Year']

In [97]:
SD.head()

,District No.,District Name,School No.,School Name,Juniors This Year,Seniors This Year,Juniors Last Year,Seniors Last Year,JuniorDelta
0,1001.0,Plankinton 01-1,1.0,Plankinton High School,27.0,12.0,13.0,22.0,2.076923
1,1001.0,Plankinton 01-1,5.0,Aurora Plains Academy High School,10.0,5.0,4.0,2.0,2.500000
2,1003.0,White Lake 01-3,1.0,White Lake High School,8.0,9.0,9.0,11.0,0.888889
3,2002.0,Huron 02-2,1.0,Huron High School,159.0,137.0,170.0,133.0,0.935294
4,2002.0,Huron 02-2,12.0,Our Home ASAP,10.0,5.0,4.0,4.0,2.500000

In [98]:
# MDE web app for hs enrollment data
searchURL = 'http://doe.sd.gov/ofm/edudir.aspx'
time.sleep(3)

# Launch web browser and navigate to the searchURL
driver = webdriver.Firefox(fp)
driver.get(searchURL)
time.sleep(3)

In [99]:
ids_a =  driver.find_elements_by_xpath("//*[text()='Address List: Principal & School Info. (Excel)']")
for ii in ids_a:
    link = ii.get_attribute('href')
time.sleep(4)

In [100]:
FileName = wget.download(link)

100% [............................................................................] 153135 / 153135

In [101]:
str(FileName)

'Principals-0118 (1).xlsx'

In [102]:
SDLookUp = pd.read_excel(FileName)

In [103]:
SDLookUp.columns

Index(['DistrictType', 'SchoolType', 'DistrictNumber', 'DistrictName',
       'SchoolNumber', 'SchoolName', 'GradeSpan', 'MailAddress', 'MailCity',
       'MailState', 'MailZip', 'SchoolAddress', 'SchoolCity', 'SchoolState',
       'SchoolZip', 'PrincipalFirst', 'PrincipalLast', 'PrincipalPhone',
       'AsstPrincFirst', 'AsstPrincLast', 'AsstPrincPhone', 'CounselorFirst',
       'CounselorLast', 'CounselorPhone'],
      dtype='object')

In [104]:
SDLookUp = SDLookUp[['DistrictType', 'SchoolType', 'DistrictNumber', 'DistrictName',
       'SchoolNumber', 'SchoolName', 'SchoolAddress', 'SchoolCity', 'SchoolState',
       'SchoolZip']]

In [105]:
SDLookUp

,DistrictType,SchoolType,DistrictNumber,DistrictName,SchoolNumber,SchoolName,SchoolAddress,SchoolCity,SchoolState,SchoolZip
0,Public School District,Alternative K-8,6001,Aberdeen 06-1,12,Aberdeen Alternative Learning Center - 12,1300 3 St S,Aberdeen,SD,57401
1,Public School District,Elementary EC-6,6001,Aberdeen 06-1,5,C.C. Lee Elementary - 05,1900 N State St,Aberdeen,SD,57401
2,Public School District,Secondary 9-12,6001,Aberdeen 06-1,1,Central High School - 01,2200 S Roosevelt St,Aberdeen,SD,57401
3,Public School District,Middle School/Jr High 5-8,6001,Aberdeen 06-1,2,Holgate Middle School - 02,2200 N Dakota St,Aberdeen,SD,57401-1469
4,Public School District,Aux Placement,6001,Aberdeen 06-1,88,JDC - 88,22 Court St SE,Aberdeen,SD,57401
5,Public School District,Elementary EC-6,6001,Aberdeen 06-1,8,Lincoln Elementary - 08,414 S 10th St,Aberdeen,SD,57401
6,Public School District,Elementary EC-6,6001,Aberdeen 06-1,9,May Overby Elementary - 09,612 14th Ave SE,Aberdeen,SD,57401-7608
7,Public School District,Elementary EC-6,6001,Aberdeen 06-1,7,Mike Miller Elementary - 07,3010 Milwaukee Ave NE,Aberdeen,SD,57401
8,Public School District,Aux Placement,6001,Aberdeen 06-1,89,New Beginnings - 89,1601 Milwaukee Ave NE,Aberdeen,SD,57401
9,Public School District,Elementary EC-6,6001,Aberdeen 06-1,11,O.M. Tiffany Elementary - 11,819 8th Ave NE,Aberdeen,SD,57401-2540
10,Public School District,Elementary EC-6,6001,Aberdeen 06-1,10,Simmons Elementary - 10,1500 S 3rd St,Aberdeen,SD,57401-7401
11,Public School District,Middle School/Jr High 5-8,6001,Aberdeen 06-1,3,Simmons Middle School - 03,1300 S 3rd St,Aberdeen,SD,57401-6921
12,Non-Public School District,Elementary EC-6,6301,Aberdeen Catholic Schools - 06301,4,Roncalli Elementary - 04,501 3rd Ave SE,Aberdeen,SD,57401
13,Non-Public School District,Secondary 9-12,6301,Aberdeen Catholic Schools - 06301,1,Roncalli High School - 01,1400 N Dakota St,Aberdeen,SD,57401-2299
14,Non-Public School District,Middle School/Jr High 5-8,6301,Aberdeen Catholic Schools - 06301,2,Roncalli Jr. High - 02,1400 N Dakota St,Aberdeen,SD,57401-4438
15,Non-Public School District,Elementary EC-6,6301,Aberdeen Catholic Schools - 06301,3,Roncalli Primary - 03,419 1st Ave NE,Aberdeen,SD,57401
16,Non-Public School District,Elementary EC-6,6320,"Aberdeen Christian School, Inc. - 06320",1,Aberdeen Christian Elementary - 01,1500 N Hwy 281,Aberdeen,SD,57401
17,Non-Public School District,Secondary 9-12,6320,"Aberdeen Christian School, Inc. - 06320",2,Aberdeen Christian High School - 02,1500 N Hwy 281,Aberdeen,SD,57401
18,Non-Public School District,Middle School/Jr High 5-8,6320,"Aberdeen Christian School, Inc. - 06320",3,Aberdeen Christian Jr. High - 03,1500 N Hwy 281,Aberdeen,SD,57401
19,Community Support Provider,Adjustment Training Center 7-12,63306,"Ability Building Services, Inc. - 63306",1,"Ability Building Services, Inc. - 01",909 W 23rd St,Yankton,SD,57078-1510
20,Community Support Provider,Adjustment Training Center 7-12,5303,Advance ATC - 05303,1,Advance - 01,301 Division Ave,Brookings,SD,57006
21,Public School District,Elementary EC-6,58003,Agar-Blunt-Onida 58-3,3,Blunt Elementary - 03,202 W Butte St,Blunt,SD,57522
22,Public School District,Elementary EC-6,58003,Agar-Blunt-Onida 58-3,4,Onida Elementary - 04,500 8th St,Onida,SD,57564
23,Public School District,Secondary 9-12,58003,Agar-Blunt-Onida 58-3,7,Sully Buttes High School - 07,500 8th St,Onida,SD,57564
24,Public School District,Middle School/Jr High 5-8,58003,Agar-Blunt-Onida 58-3,6,Sully Buttes Jr. High - 06,500 8th St,Onida,SD,57564
25,Public School District,Elementary EC-6,61001,Alcester-Hudson 61-1,4,Alcester-Hudson Elementary - 04,409 E 6th St,Alcester,SD,57001
26,Public School District,Secondary 9-12,61001,Alcester-Hudson 61-1,1,Alcester-Hudson High School - 01,102 E 5th,Alcester,SD,57001
27,Public School District,Middle School/Jr High 5-8,61001,Alcester-Hudson 61-1,3,Alcester-Hudson Jr. High - 03,102 E 5th,Alcester,SD,57001
28,Tribal/BIE School,Elementary EC-8,3301,American Horse School - 03301,1,American Horse Elementary - 01,100 Main St,Allen,SD,57714
29,Public School District,Elementary EC-6,11001,Andes Central 11-1,2,Andes Central Elementary - 02,1001 High St,Lake Andes,SD,57356
...,...,...,...,...,...,...,...,...,...,...
847,Public School District,Middle School/Jr High 5-8,1003,White Lake 01-3,3,White Lake Jr. High - 03,502 E Division St,White Lake,SD,57383-0246
848,Public School District,Elementary EC-6,47001,White River 47-1,8,Norris Elementary - 08,331 School Loop,Norris,SD,57560
849,Public School District,Elementary EC-6,47001,White River 47-1,2,White River Elementary - 02,501 E 3rd St,White River,SD,57579
850,Public School District,Secondary 9-12,47001,White River 47-1,1,White River High School - 01,501 E 3rd St,White River,SD,57579
851,Public School District,Middle School/Jr High 5-8,47001,White River 47-1,4,White River Middle School - 04,501 E 3rd St,White River,SD,57579
852,Public School District,Elementary EC-8,12003,Willow Lake 12-3,6,Collins Colony Elementary - 06,19606 Collins Ave,Iroquois,SD,57353
853,Public School District,Elementary EC-8,12003,Willow Lake 12-3,4,Mayfield Colony Elementary - 04,43188 Mayfield Rd,Willow Lake,SD,57278
854,Public School District,Elementary EC-8,12003,Willow Lake 12-3,5,Shamrock Colony Elementary - 05,19087 413th Ave,Carpenter,SD,57322
855,Public School District,Elementary EC-6,12003,Willow Lake 12-3,2,Willow Lake Elementary - 02,400 Garfield Ave,Willow Lake,SD,57278
856,Public School District,Secondary 9-12,12003,Willow Lake 12-3,1,Willow Lake High School - 01,400 Garfield Ave,Willow Lake,SD,57278
857,Public School District,Middle School/Jr High 5-8,12003,Willow Lake 12-3,3,Willow Lake Middle School - 03,400 Garfield Ave,Willow Lake,SD,57278
858,Public School District,Elementary EC-6,54007,Wilmot 54-7,2,Wilmot Elementary - 02,800 Ordway St,Wilmot,SD,57279
859,Public School District,Secondary 9-12,54007,Wilmot 54-7,1,Wilmot High School - 01,800 Ordway St,Wilmot,SD,57279
860,Public School District,Middle School/Jr High 5-8,54007,Wilmot 54-7,3,Wilmot Jr. High - 03,800 Ordway St,Wilmot,SD,57279
861,Public School District,Elementary EC-6,59002,Winner 59-2,4,Winner Elementary - 04,825 W 3rd St,Winner,SD,57580
862,Public School District,Secondary 9-12,59002,Winner 59-2,1,Winner High School - 01,431 E 7th St,Winner,SD,57580
863,Public School District,Middle School/Jr High 5-8,59002,Winner 59-2,2,Winner Middle School - 02,431 E 7th St,Winner,SD,57580
864,Public School District,Elementary EC-6,2006,Wolsey-Wessington 02-6,2,Wolsey-Wessington Elementary - 02,375 Ash St SE,Wolsey,SD,57384
865,Public School District,Secondary 9-12,2006,Wolsey-Wessington 02-6,1,Wolsey-Wessington High School - 01,375 Ash St SE,Wolsey,SD,57384
866,Public School District,Middle School/Jr High 5-8,2006,Wolsey-Wessington 02-6,3,Wolsey-Wessington Middle School - 03,375 Ash St SE,Wolsey,SD,57384
867,Public School District,Elementary EC-8,55004,Woonsocket 55-4,3,Woonsocket Elementary - 03,101 N 2nd Ave,Woonsocket,SD,57385
868,Public School District,Secondary 9-12,55004,Woonsocket 55-4,1,Woonsocket High School - 01,101 N 2nd Ave,Woonsocket,SD,57385
869,Tribal/BIE School,Elementary EC-8,65302,Wounded Knee School System - 65302,1,Wounded Knee Elementary - 01,100 Main St,Manderson,SD,57756
870,Public School District,Elementary EC-6,63003,Yankton 63-3,3,Beadle Elementary - 03,1214 Mulberry St,Yankton,SD,57078
871,Public School District,Elementary EC-6,63003,Yankton 63-3,4,Lincoln Elementary - 04,815 Locust St,Yankton,SD,57078
872,Public School District,Elementary EC-6,63003,Yankton 63-3,5,Stewart Elementary - 05,208 W 21st St,Yankton,SD,57078
873,Public School District,Elementary EC-6,63003,Yankton 63-3,6,Webster Elementary - 06,317 E 7th St,Yankton,SD,57078
874,Public School District,Secondary 9-12,63003,Yankton 63-3,1,Yankton High School - 01,1801 Summit St,Yankton,SD,57078
875,Public School District,Middle School/Jr High 5-8,63003,Yankton 63-3,2,Yankton Middle School - 02,2000 Mulberry St,Yankton,SD,57078
876,Non-Public School District,Elementary EC-6,51304,Zion Lutheran School - Rapid City - 51304,1,Rapid City Lutheran Elementary - 01,4550 Mount Rushmore Rd,Rapid City,SD,57701-8913

In [120]:
SDLookUp['County Lookup'] = SDLookUp['SchoolCity'] + ' ' + SDLookUp['SchoolState']

In [121]:
len(SDLookUp)

877

In [108]:
SDLookUp.columns

Index(['DistrictType', 'SchoolType', 'DistrictNumber', 'DistrictName',
       'SchoolNumber', 'SchoolName', 'SchoolAddress', 'SchoolCity',
       'SchoolState', 'SchoolZip', 'Full Address'],
      dtype='object')

In [109]:
SD.columns

Index(['District No.', 'District Name', 'School No.', 'School Name',
       'Juniors This Year', 'Seniors This Year', 'Juniors Last Year',
       'Seniors Last Year', 'JuniorDelta'],
      dtype='object')

In [110]:
SDFinal = pd.merge(SDLookUp, SD, how = 'inner',
        left_on = ['DistrictNumber', 
       'SchoolNumber'],
        right_on = ['District No.', 
                    'School No.'])

In [112]:
len(SDFinal)

167

In [122]:
SDLookUp['County Lookup'].iloc[0]

'Aberdeen SD'

In [126]:
geolocator = Nominatim()
loc = geolocator.geocode(SDLookUp['County Lookup'].iloc[0])
print(loc.address.split(",")[1].strip())
# u'Chicago, Cook County, Illinois, United States of America'
#loc = geolocator.geocode('San Francisco California')
#print(loc.address)

Brown County

In [132]:
SDFinal['County'] = np.nan

In [133]:
for i in range(len(SDFinal)):
    geolocator = Nominatim()
    loc = geolocator.geocode(SDLookUp['County Lookup'].iloc[i])
    SDFinal['County'].iloc[i] = loc.address.split(",")[1].strip()

C:\Users\karlk\Anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [134]:
SDFinal.head()

,DistrictType,SchoolType,DistrictNumber,DistrictName,SchoolNumber,SchoolName,SchoolAddress,SchoolCity,SchoolState,SchoolZip,...,District No.,District Name,School No.,School Name,Juniors This Year,Seniors This Year,Juniors Last Year,Seniors Last Year,JuniorDelta,County
0,Public School District,Secondary 9-12,6001,Aberdeen 06-1,1,Central High School - 01,2200 S Roosevelt St,Aberdeen,SD,57401,...,6001.0,Aberdeen 06-1,1.0,Central High School,335.0,354.0,336.0,315.0,0.997024,Brown County
1,Public School District,Secondary 9-12,58003,Agar-Blunt-Onida 58-3,7,Sully Buttes High School - 07,500 8th St,Onida,SD,57564,...,58003.0,Agar-Blunt-Onida 58-3,7.0,Sully Buttes High School,18.0,14.0,14.0,25.0,1.285714,Brown County
2,Public School District,Secondary 9-12,61001,Alcester-Hudson 61-1,1,Alcester-Hudson High School - 01,102 E 5th,Alcester,SD,57001,...,61001.0,Alcester-Hudson 61-1,1.0,Alcester-Hudson High School,25.0,21.0,25.0,15.0,1.000000,Brown County
3,Public School District,Secondary 9-12,11001,Andes Central 11-1,1,Andes Central High School - 01,400 School St,Lake Andes,SD,57356,...,11001.0,Andes Central 11-1,1.0,Andes Central High School,17.0,16.0,18.0,11.0,0.944444,Brown County
4,Public School District,Secondary 9-12,38001,Arlington 38-1,1,Arlington High School - 01,306 S Main St,Arlington,SD,57212,...,38001.0,Arlington 38-1,1.0,Arlington High School,16.0,18.0,17.0,23.0,0.941176,Brown County

In [135]:
SDFinal['Map Value'] = SDFinal['County'] + ' ' + SDFinal['SchoolState']

In [136]:
SDFinal.to_csv('SDFinal.csv', index = False)