# Manitoba

In [1]:
import datetime
import time
import wget
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import zipfile
from geopy.geocoders import Nominatim

In [2]:
Year = str(datetime.datetime.now().year - 1)
File = 'http://www.edu.gov.mb.ca/k12/finance/sch_enrol/enrolment_' + Year + '.xlsx'

In [3]:
ThisYearDownload = wget.download(File)

100% [............................................................................] 516251 / 516251

In [4]:
LsYear = str(datetime.datetime.now().year - 2)
File = 'http://www.edu.gov.mb.ca/k12/finance/sch_enrol/enrolment_' + LsYear + '.xlsx'
LastYearDownload = wget.download(File)

100% [............................................................................] 516931 / 516931

In [59]:
appended_data = []
for i in range(7, 39):
    SchoolDistrict = pd.read_excel(ThisYearDownload, sheetname = '7', skiprows = 2).iloc[0][0]
    Enrollment = pd.read_excel(ThisYearDownload, sheetname = '7', header = None, skiprows = 6)
    # Remove any blank columns, files are inconsistently formatted
    Enrollment = Enrollment.dropna(axis = 'columns',how='all')
    # Rename columns as numeric order 
    Enrollment = Enrollment.rename(columns=
                                   {x:y for x,y 
                                    in zip(Enrollment.columns,
                                           range(0,len(Enrollment.columns)))})
    # Remove missing schools and aggregates
    Enrollment = Enrollment[(Enrollment[0].notnull()) & 
                            (Enrollment[0].str.contains('TOTAL') == False )]
    # Subset to only juniors and seniors
    Enrollment = Enrollment[(Enrollment[15] > 0) |
                            (Enrollment[16] > 0)]
    # Subset to only appropriate columns
    Enrollment = Enrollment[[0, 1, 15, 16]]
    Enrollment['District'] = SchoolDistrict
    appended_data.append(Enrollment)
Enrollment = pd.concat(appended_data, axis=0)

In [60]:
EnrollmentThisYear = Enrollment.rename(columns = {0:'SCHOOL NAME', 
                             1:'COMMUNITY', 
                             15:'11', 
                             16:'12'})

In [73]:
appended_data = []
for i in range(7, 39):
    # District is a merged column header in excel, extract 
    SchoolDistrict = pd.read_excel(LastYearDownload, sheetname = '7', skiprows = 2)
    # Remove empty columns
    SchoolDistrict = SchoolDistrict.dropna(axis = 'columns',how='all')
    # Remove empty rows
    SchoolDistrict = SchoolDistrict.dropna(axis = 'rows',how='all')
    # Select first columns, should contain the division
    SchoolDistrict = SchoolDistrict.iloc[0][0]
    Enrollment = pd.read_excel(LastYearDownload, sheetname = '7', header = None, skiprows = 6)
    Enrollment = Enrollment.dropna(axis = 'columns',how='all')
    # Rename columns as numeric order 
    Enrollment = Enrollment.rename(columns=
                                   {x:y for x,y 
                                    in zip(Enrollment.columns,
                                           range(0,len(Enrollment.columns)))})
    Enrollment = Enrollment[(Enrollment[0].notnull()) & 
                            (Enrollment[0].str.contains('TOTAL') == False )]
    Enrollment = Enrollment[(Enrollment[15] > 0) |
                            (Enrollment[16] > 0)]
    Enrollment = Enrollment[[0, 1, 15, 16]]
    Enrollment['District'] = SchoolDistrict
    appended_data.append(Enrollment)
Enrollment = pd.concat(appended_data, axis=0)

In [74]:
EnrollmentLastYear = Enrollment.rename(columns = {0:'SCHOOL NAME', 
                             1:'COMMUNITY', 
                             15:'11', 
                             16:'12'})

In [75]:
EnrollmentLastYear.head()

,SCHOOL NAME,COMMUNITY,11,12,District
1,Carberry Collegiate,Carberry,45.0,34.0,BEAUTIFUL PLAINS SCHOOL DIVISION
5,Neepawa Area Collegiate,Neepawa,74.0,92.0,BEAUTIFUL PLAINS SCHOOL DIVISION
7,Riverbend Colony School,Carberry ¹,0.0,3.0,BEAUTIFUL PLAINS SCHOOL DIVISION
8,Riverside Colony School,Neepawa ¹,1.0,0.0,BEAUTIFUL PLAINS SCHOOL DIVISION
9,Rolling Acres School,Birnie ¹,0.0,2.0,BEAUTIFUL PLAINS SCHOOL DIVISION

In [77]:
EnrollmentLastYear.head()

,SCHOOL NAME,COMMUNITY,11,12,District
1,Carberry Collegiate,Carberry,45.0,34.0,BEAUTIFUL PLAINS SCHOOL DIVISION
5,Neepawa Area Collegiate,Neepawa,74.0,92.0,BEAUTIFUL PLAINS SCHOOL DIVISION
7,Riverbend Colony School,Carberry ¹,0.0,3.0,BEAUTIFUL PLAINS SCHOOL DIVISION
8,Riverside Colony School,Neepawa ¹,1.0,0.0,BEAUTIFUL PLAINS SCHOOL DIVISION
9,Rolling Acres School,Birnie ¹,0.0,2.0,BEAUTIFUL PLAINS SCHOOL DIVISION

In [65]:
Enrollment = pd.read_excel(LastYearDownload, sheetname = '7', header = None, skiprows = 6)

In [66]:
Enrollment.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,NaN,Brookdale School,Brookdale,0,0,5,3.0,4.0,7.0,2.0,3.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,27
1,NaN,Carberry Collegiate,Carberry,0,0,0,0.0,0.0,0.0,0.0,37.0,36.0,44.0,49.0,48.0,49.0,45.0,34.0,342
2,NaN,Fairway Colony School,Douglas ¹,0,0,2,0.0,2.0,0.0,2.0,3.0,1.0,3.0,2.0,0.0,1.0,0.0,0.0,16
3,NaN,Hazel M. Kellington School,Neepawa,0,0,68,77.0,77.0,68.0,82.0,102.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,474
4,NaN,J. M. Young School,Eden,0,0,11,4.0,7.0,2.0,4.0,3.0,7.0,0.0,4.0,0.0,0.0,0.0,0.0,42